<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Ship great software with automated bugtracking.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="/users/sign_up" class="btn btn-lg btn-dark fw-bold border-white bg-black">Sign Up for free!</a>
    </p>
  </main>
</div>
