
<%= form_for @project do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>


  <div class="actions">
    <%= f.submit(@project.new_record? ? "Add Project" : "Update Project") %>
  </div>
<% end %>