
.navbar-nav {
    list-style-type: none;
    background-color: #FFC72C;
 }

 .container-fluid, .btn {
    background-color: #FFC72C;
 }

li.nav-item {
   margin-left: 18px;
   margin-right: 18px;
   align-self: center;
}

.heading {
   font-size: xx-large;
}

#news-letter {
   background-color: #fff;
}

div, .btn{
   color: #27251F;
}

br {
   background-color: #fff;
   display: block;
   margin: 1px 0;
}

.seperator{
   color: #27251F;
   background-color: #27251F;
}

ul {
   list-style: none;
   align-items: center;
   list-style-position: outside;
}
 
ul > li.disabled {
   padding-left: 3%;
   padding-right: 3%;
   align-content: end;
   justify-items: flex-end;
   /* border-style: none double none double;; */
}
 
.pagination {
   align-items: end;
   align-content: end;
   padding-bottom: 1%;
   padding-top: 1%;
}
 
.pagination > li {
   padding-left: 5%;
}
 
span {
   margin-right: 3%;
}

h6{
   display: inline;
}

strong {
   font-size: 115%;
}