
<div class="container my-5">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
    <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
    <a class="navbar-brand" href="/">
        <img src="https://www.visnext.com/assets/green/logo-ad952d6639a40b13cdce727dc91d3e9a73beac31ac87681319ddbb139e82bca2.svg" alt="Visnext Software Solutions Logo">
    </a>
    <%# <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"/></svg> %>
    <h1 class="text-body-emphasis">
        Ship great software with automated
    </h1>
    <h1 class="text-body-emphasis">
        bug-tracking!
    </h1>
    <p class="col-lg-6 mx-auto mb-4">
        A simple, fast and scalable bug tracking system that helps you manage bugs easily and deliver great products on time.    </p>
        <a href="/users/sign_up" class="button btn btn-primary px-5 mb-5">  Sign Up for free!</a>
  </div>
</div>